<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
	  <add
		  name="ContextoGamestore"
		  connectionString="data source=(LocalDB)\MSSQLLocalDB;initial catalog=GameStore;MultipleActiveResultSets=True;App=EntityFramework"
		  providerName="System.Data.SqlClient" />
	  </connectionStrings>
</configuration>
