<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
	  <add
		  name="ContextoGamestore"
		  connectionString="data source=200.69.137.167, 11333;initial catalog=PAV-3K2-2021-9;user id=PAV_3K2_2021_9;password=PAV_3K2_2021_9;MultipleActiveResultSets=True;App=EntityFramework"
		  providerName="System.Data.SqlClient" />
	  </connectionStrings>
</configuration>